.thumb {
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin:0 auto;
  min-height: 350px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 4px 10px #777;
  cursor: pointer;
  margin-bottom: 20px;
}

.thumb img {
  width: 280px;
  border-radius: 5px;
}

.thumb h1 {
  font-size: 30px;
}

.thumb:hover {
  box-shadow: 0px 5px 10px #555;
}

.category,
.type {
  margin: 4px;
  padding: 4px 6px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #aaa;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.alcoholic {
  background: rgb(236, 71, 59);
  color: white;
}

.nonAlcoholic {
  background: rgb(204, 255, 85);
}

.category {
  background: rgb(108, 226, 255);
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.drinkName{
    text-transform: uppercase;
    font-size: 21px;
    padding: 10px 4px;
    text-align: justify;
}